OPEN-METEO_API_1_KEY = AIzaSyA123456789 # (actually a Google Maps-style key)
OPEN-METEO_API_2_KEY = EIsjpOsEn95736135 # (I made this one up lol)

PROVINCE=ON
A3_GOLD_PATH=data/gold/weather_air_quality_gold.csv
BRONZE_DIR=data/bronze
SILVER_DIR=data/silver
FINAL_GOLD_PATH=data/gold/final_dataset.csv